html, body { 
    margin: 0; 
    height: 100%; 
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


::placeholder{
    color:rgb(80, 20, 100);
}

input{
    width: 100px;
    height: 40px;
    padding: 0;
    padding-left: 5px;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 10px;
}

.form{
    background-color: rgb(207, 183, 231);
    margin: auto 0;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 650px;
    height: 170px;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.inputs{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

button{
    width: 100px;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color:rgb(168, 30, 213);
    cursor: pointer;
    margin: 5px;
    margin-bottom: 10px;
}

button:hover{
    background-color: rgb(125, 24, 159);
}

h4{
    margin-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

#first{
    margin-top: 30px;
}

#last{
    margin-bottom: 30px;
}

.result{
    margin-bottom: 10px;
}